html {
    scroll-behavior: smooth;
}
body {
    background-color: #80ABD1;
    margin: 0;
    counter-reset: h2 ;
}






header {
    background-color: lightsteelblue;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
}
nav {
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    margin: 10px 50px;
}
#hardis-logo {
    width: 80px;
    height: 40px;
}
nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding: 0px;
    margin: 0;
}
.menu {
    flex-basis: 700px;
    padding: 0px 30px;
    border-left: 2px solid rgb(175, 175, 175);
    border-right: 2px solid rgb(175, 175, 175);
}
.menu li {
    margin: 10px;
}
header img {
    width: 30px;
}
.lien-logo {
    flex-basis: 200px;
    align-items: center;
}
.lien-logo li {
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
}
nav a{
    color: rgb(80, 80, 80);
    text-decoration: none;
    transition: transform .4s;
}
nav a:hover, nav a:hover img{
    transform: scale(1.08);
    text-decoration: underline;
}
.active {
    font-weight: bold;
}







main {
    width: 90%;
    margin: auto;
    animation: apparition 0.8s ease-out;
    margin-top: 80px;
}
@keyframes apparition {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    } 
}
h1 {
    font-family: "Arial Black", sans-serif;
    color: rgb(50, 50, 50);
    width: 100%;
    text-align: center;
    font-size: 300%;
    margin-bottom: 50px;
    clear: both;
}
/*
h2 {
    font-size: 2.5em;
    text-decoration: underline;
    margin-top: 70px;
    font-variant-caps:all-petite-caps;

}
*/
h2 {
    background-color: rgba(30, 144, 255, 0.8); /*rgba(30, 144, 255, 0.8)*/
    color: white;
    box-shadow: 5px 5px 5px black;
    border-radius: 50px;
    padding: 10px;
    width: 400px;
}
h2::before {
    content: counter(h2) "- " ;
    counter-increment: h2 ;
}
.imageflottante {
    float: left;
    width: 20%;
    margin-right: 20px ;
    margin-bottom: 20px;
}
.float {
    font-size: 200%;
    font-weight: bold;
    font-family: "Arial Black", sans-serif;
    color: rgb(50, 50, 50);
    width: 80%;
    margin: auto;
}
.sommaire{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.sommaire .column {
    display: flex;
    flex-direction: column;
    flex-basis: 200px;
    align-items: center;
}
.sommaire a {
    width: 150px;
    height: 150px;
    padding: 10px;
    background-color: white;
    border-radius: 90px;
    margin: 10px auto 0;
    box-shadow: 0 0 0 0 white;
    animation: pulse 1.3s infinite;
    transition: transform .4s;
}
@keyframes pulse {
    to {
        box-shadow: 0 0 0 18px rgba(0, 0, 0, 0.01);
    }
}
.sommaire a:hover {
    transform: scale(1.08);
}
.sommaire img {
    width: 150px;
    height: 150px;
    
}
.sommaire p {
    text-align: center;
    font-family: "Arial Black", sans-serif;
    font-size: 1.3em;
    font-variant-caps: small-caps;
    color: rgb(50, 50, 50);
}


.description {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#large div {
    flex-basis: 600px;
}
#large h4 {
    margin: 5px 0 0 15px;
}
#large ul {
    margin: 3px;
}
.description div {
    border: 2px solid black;
    border-radius: 10px;
    flex-basis: 300px;
    margin: 10px;
}
.description h3 {
    text-align: center;
    border-radius: 10px 10px 0 0;
    background-color: lightsteelblue; /*rgb(203, 203, 203)*/
    margin: 0;
    padding: 20px;
}
.description p {
    text-align: justify;
    margin: 10px;
}

.description iframe {
    width: 100%;
    border-radius: 10px;
}








footer {
    margin-top: 30px;
    background-color: rgb(32, 32, 32);
    display: flex;
    padding: 30px;
    justify-content: space-between;
    color: rgb(110, 110, 110);
    flex-wrap: wrap;
}
footer img {
    width: 20%;
}
footer li {
    font-variant-caps: all-small-caps;
}
footer a {
    color: white;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}
footer .mail a {
    font-variant-caps:normal;
}
